//　ベース色
$color-main: #EFE4E1;

// テキスト色
$color-tit: #000000;
$color-txt: #555555;
$color-white: #FFFFFF;
$color-line: #D0D0D0;

// 背景色
$color-black-tra: rgba(0, 0, 0, .57);
$color-white-tra: rgba(255, 255, 255, 0.9);