// レイアウト幅
$layout-width-inner: 1025px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "(max-width: #{$layout-width-inner - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);

// ブレークポイント
$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'pc': 'screen and (min-width: 768px)',
);

// 最大横幅
$mw-base: 1100px;
$mw-slct: 510px;

// headerの高さ
$h-header: 87px;
$h-header-sp: 74px;

// z-indexの指定
$layer: (
	modal: 100,
	drawer: 30,
	floating: 20,
	header: 10,
	default: 1,
	bg: -10,
);