$ff-en: Courier New, Courier, Arial;
$ff-base: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;

// フォントサイズ
$fz-base: 16px;
$fz-l: 25px;
$fz-l-sp: 23px;
$fz-s: 14px;

// フォントウェイト
$fw-base: 300;
$fw-bold: bold;

$lh-base: 1.875;
$lh-base-sp: 2.142;
$ls-base: .2em;