.bisiness {
    $this: &;
    @include mq('sp') {
        margin-top: 91px;
    }
    @include mq('pc') {
        margin-top: 140px;
    }

    >.sec-img {
        @include mq('sp') {
            background-image: url(../img/bisiness_bg_sp.jpg);
        }
        @include mq('pc') {
            background-image: url(../img/bisiness_bg.jpg);
        }
    }

    .sec-tit {
        @include mq('sp') {
            margin-bottom: 37px;
        }
        @include mq('pc') {
            margin-bottom: 35px;
        }
    }

    &-wrap {
        @include mq('pc') {
            display: flex;
            align-items: center;           
        }
    }

    &-txt {
        @include mq('pc') {
            flex: 0 0 51%;
            padding: 0 0 0 4.92%;
        }

        >span {
            text-decoration: underline;
        }
    }
    
    &-img {
        @include mq('pc') {
            padding-right: 7.29%;;
            flex: 0 0 49%;
            margin-left: 5.25%;
        }
    }

    &-pic {
        z-index: map-get($layer, 'default');
        @include mq('pc') {
            flex-grow: 1;
            max-width: 520px;       
        }

        img {
            @include mq('pc') {
                height: 600px;
                object-fit: cover;               
            }
        }
    }

    &-content {
        z-index: map-get($layer, 'default');
        @include mq('pc') {
            flex-grow: 1;         
        }

        >p {
            @include mq('sp') {
                margin: 50px 0 40px;
            }
            @include mq('pc') {
                margin: 45px 0;
            }
        }
    }

    &-tit {
        font-family: $ff-en;
        letter-spacing: 0.3em;
        font-weight: $fw-bold;
        line-height: 1.3;
        position: relative;
        @include mq('sp') {
            font-size: $fz-base; 
        }

        &:before {
            position: absolute;
            top: -65px;
            left: 0;
            content: counter(tit, decimal-leading-zero);
            font-weight: $fw-base;
            line-height: 1;
        }

        &:after {
            position: absolute;
            top: -58px;
            left: 36px;
            content: '';
            background-color: $color-line;
            width: 126px;
            height: 1px;
        }
    }

    &-item {
        counter-increment: tit; 

        >.inner {
            @include mq('pc') {
                display: flex;
                align-items: center;
                max-width: 1266px;             
            }
        }    

        @include mq('pc') {
            &:nth-child(odd) {
                .link {
                    text-align: right;
            
                    &-list {
                        display: inline-block;
                    }
                }   
         
                #{$this}-content {
                    margin-left: 5.4%;
                }
            }
            
            &:nth-child(even) {
                >.inner {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                }
                #{$this}-content {
                    margin-right: 8%;
                }
            }
        }

       
        // 01 Brand         
        &._brand {
            @include mq('sp') {
                padding-top: 50px;  
            }
            @include mq('pc') {
                padding-top: 76px;  
            }    
            
            #{$this}-content {
                @include mq('sp') {
                    padding-top: 163px;    
                }
                @include mq('pc') {
                    padding-top: 80px;   
                }

                >img {
                    width: 274px;
                }

                >p {
                    @include mq('pc') {   
                        max-width: 587px;
                    }
                }
                
                .link {
                    @include mq('sp') {
                        padding-top: 40px;
                    }
                    @include mq('pc') {
                        max-width: 587px;
                        padding: 30px 33px 0 0;
                    }
                
                    &-item {
                        a {
                            display: flex;
                            align-items: center;
                            font-family: $ff-en;
                            letter-spacing: 0.3em;
                            padding: 0.3em 0;
                            @include mq('sp') {
                                font-size: $fz-base;
                            }
                        }
    
                        &._site {
                            img {
                                margin-right: 12px;
                                width: 24px;
                            }
                        }
    
                        &._store {
                            margin-top: 0.1em;
                            img {
                                margin-right: 9px;
                                width: 25px;
                            }
                        }

                        &._insta {
                            img {
                                margin-right: 13px;
                                width: 21px;
                            }
                        }    
                    }
                }
            }

            #{$this}-pic {
                position: relative;

                &:before {
                    position: absolute;
                    width: 78.461%;
                    height: 92.33%;
                    content: '';
                    background-color: $color-main;
                    z-index: map-get($layer, 'bg');
                    @include mq('sp') {
                        bottom: -41px;
                        left: -30px;    
                    }
                    @include mq('pc') {
                        bottom: -67px;
                        left: -50px;    
                    }
                }
            }    
        }

        // 02 import
        &._import {
            @include mq('sp') {
                margin-top: 16px; 
                padding-top: $h-header-sp;
            }
            @include mq('pc') {
                padding-top: $h-header;
                margin-top: 120px;    
            }
            @include mq('sp') {
                #{$this}-pic {
                    position: relative;
    
                    &:before {
                        position: absolute;
                        width: 78.412%;
                        height: 92.307%;
                        content: '';
                        background-color: $color-main;
                        z-index: map-get($layer, 'bg');
                        @include mq('sp') {
                            top: -23px;
                            right: -30px;    
                        }
                    }
                }
            }

            #{$this}-content {
                @include mq('sp') {
                    padding-top: 114px;
                }
                @include mq('pc') {
                    padding-top: 30px;
                    max-width: 518px;     
                }
            }

            .link-btn {
                @include _btn {
                    @include mq('sp') {
                        letter-spacing: 0.07em;
                        text-align: center;
                    }
                }
            }

            #{$this}-box {
                background-color: $color-main;
                @include mq('sp') {
                    margin-top: 51px;
                }
                @include mq('pc') {
                    margin-top: -37px;
                    max-width: calc(100% - (50% - (1260px / 2)));
                    width: calc(100% - 7.686%);
                    margin-left: auto;
                    padding-right: calc(50% - (1260px / 2) - 105px);
                    position: relative;     
                }
                
                >.inner {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    max-width: 1260px;
                    @include mq('sp') {
                        padding-top: 48px;
                        padding-bottom: 41px;
                    }
                }
            }
            
            #{$this}-def {
                @include mq('sp') {
                    width: 100%;
                }
                @include mq('pc') {
                    padding: 83px 50px 50px 0;
                }

                >div {
                    display: flex;
                    align-items: center;
                    &:nth-child(n + 2){
                        @include mq('sp') {
                            margin-top: 61px;
                        }
                        @include mq('pc') {                           
                            margin-top: 46px;
                        }
                    }    
                }
            }

            #{$this}-dtit {
                font-family: $ff-en;
                letter-spacing: 0.3em;
                font-weight: $fw-bold;
                @include mq('sp') {
                    text-align: center;
                    flex: 0 0 21.063%;
                }
            }

            #{$this}-data {
                @include mq('sp') {
                    margin-left: 10.793%;
                    flex: 0 1 100%;
                }
                @include mq('pc') {
                    font-size: $fz-s;
                    display: flex; 
                    margin-left: 44px;
                }

                >ul {
                    li {
                        &:nth-child(n + 2) {
                            margin-top: 0.3em
                        }
                    }

                    @include mq('pc') {
                        &:nth-child(n + 2) {
                            margin-left: 39px;
                        }
                        &:first-child {
                            width: 173px;
                        }
    
                        &:nth-child(2) {
                            width: 150px;
                        }   
                    }
                }
            }

            #{$this}-btn {
                @include mq('sp') {
                    margin: 40px auto 0;
                }
                @include mq('pc') {
                    margin: 0 83px 50px auto;   
                }
                @include _btn('black') {
                    width: 276px;
                    line-height: 1.714;
                    letter-spacing: 0.1em;
                    @include mq('pc') {
                        padding: 18px 34px;
                    }    
        
                    >span {
                        display: block;
                    }    
                }            
            }
        }

        // 03 OEM
        &._oem {
            @include mq('sp') {
                margin-top: 16px;
                padding-top: $h-header-sp;
            }
            @include mq('pc') {
                margin-top: 53px;
                padding-top: $h-header;
                margin-bottom: 144px;     
            }

            #{$this}-content {
                @include mq('sp') {
                    padding-top: 162px;
                }
                @include mq('pc') {
                    padding-top: 74px;
                    >p {
                        max-width: 522px;
                    }
                }
            }

            #{$this}-btn {
                &:nth-child(n + 2) {
                    margin-top: 13px;
                }
            }

            #{$this}-pic {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    background-color: $color-main;
                    z-index: map-get($layer, 'bg');
                    @include mq('sp') {
                        width: 100.952%;
                        height: 92.541%;
                        bottom: -44px;
                        left: -30px;
                    }
                    @include mq('pc') {    
                        width: 105.961%;
                        height: 92.333%;
                        bottom: -72px;
                        left: -50px;
                    }
                }
            }

            .link {
                max-width: 595px;
                &-item {
                    &:nth-child(n + 2) {
                        margin-top: 13px;
                    }
                }

                &-btn {
                    @include _btn {
                        text-align: left;
                    }
                }
            }
            
        }        
    }
}