.mv {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    @include mq('sp') {
        height: 500px;
        background: url(../img/mv_bg_sp.jpg) center / cover no-repeat;
    }
    @include mq('pc') {
        height: 100vh;
        background: url(../img/mv_bg.jpg) center / cover no-repeat;
    }
    
    &-head {
        color: $color-white;
        background: linear-gradient(to top, transparent 0%, rgba(25, 25, 25, 0.69) 100%);
        position: relative;
        @include mq('sp') {
            padding: 42px 30px 0;
            height: 92%;
        }
        @include mq('pc') {
            padding: 50px 50px 0;
            height: 38.6718%;
        }
    }

    &-logo {
        @include mq('sp') {
            text-align: center;
            padding-top: 118px;
        }
        img {
            @include mq('sp') {
                width: 170.86px;
            }
            @include mq('pc') {
                width: 149.69px;
            }
        }
    }

    >.inner {
        @include mq('pc') {           
            max-width: 1042px;
            height: 100%;
            width: 100%;
            position: relative;
        }
    }

    &-tit {
        position: absolute;
        bottom: 98px;
        left: 50px;
        color: $color-white;
        
        >span {
            display: block;
            font-family: $ff-en;
            font-size: $fz-l;
            letter-spacing: 0.049em;
            font-weight: $fw-bold;
            line-height: 1.5;
        }

        >small {
            font-size: 15px;
            letter-spacing: 0.3em;
        }
    }
}