.contact {    
    font-size: $fz-s;
    letter-spacing: 0.1em;
    @include mq('pc') {
        line-height: 1.875;
    }

    >.inner {
        @include mq('pc') {
            max-width: 820px;
        }
    }

    &-txt {
        @include mq('sp') {
            margin-top: 55px;
            padding: 0 15px;;
        }
        @include mq('pc') { 
            margin-top: 90px;
            text-align: center;
            line-height: 1;
        }
    }

    &-list {
        @include mq('sp') {
            margin-top: 30px;
        }
        @include mq('pc') {         
            margin-top: 90px;
        }
    }

    &-item { 
        >h2 {
            font-weight: $fw-bold;
            letter-spacing: 0.1em;
        }

        &:first-child {
            background-color: $color-main;
            @include mq('sp') {
                text-align: center;
                padding: 30px 15px 29px;
            }
            @include mq('pc') {
                padding: 21px 40px;
                display: flex;
                align-items: center;   
            }
    
            >div {
                @include mq('sp') {
                    margin-top: 31px;
                }
                @include mq('pc') {                    
                    margin-left: auto;
                    text-align: right;
                }

                >span {
                    display: block;
                    font-size: $fz-base;
                    letter-spacing: 0.3em;
                    line-height: 1.2;
                }
            }
        }

        &:nth-child(2) {
            @include mq('sp') {         
                margin-top: 30px;
            }
            @include mq('pc') {         
                margin-top: 34px;
            }

            >h2 {
                background-color: $color-main;
                position: relative;
                @include mq('sp') {
                    text-align: center;
                    padding: 32px 15px; 
                }
                @include mq('pc') {
                    padding: 30px 40px;                  
                }

                &:after {
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 24.5px 0 24.5px;
                    content: '';
                    border-color: $color-main transparent transparent transparent;
                }
            }
        }
    }
}